
  <%= form_for(@customer) do |f| %>
    <%= f.text_field :name, placeholder: 'name' %>
    <%= f.email_field :email, placeholder: 'email' %><br><br>
    <%= f.text_area :message, placeholder: 'tell  me a little about the project you need help with', cols: "100", rows: "5"%>
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this message from being sent:</h2>

        <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Send message" %>
    </div>
  <% end %>
